PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioAvatares/Avatares2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAvatarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvatarDTO" nillable="true" type="tns:AvatarDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvatarDTO" nillable="true" type="tns:ArrayOfAvatarDTO" />
  <xs:complexType name="AvatarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaRelativa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarDTO" nillable="true" type="tns:AvatarDTO" />
</xs:schema>