PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioInicioSesion/InicioSesion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/InicioSesion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="credenciales" nillable="true" type="q1:CredencialesInicioSesionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q2:ResultadoInicioSesionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>