PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioInicioSesion/InicioSesion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CredencialesInicioSesionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CredencialesInicioSesionDTO" nillable="true" type="tns:CredencialesInicioSesionDTO" />
  <xs:complexType name="ResultadoInicioSesionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContrasenaIncorrecta" type="xs:boolean" />
      <xs:element minOccurs="0" name="CuentaNoEncontrada" type="xs:boolean" />
      <xs:element minOccurs="0" name="InicioSesionExitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoInicioSesionDTO" nillable="true" type="tns:ResultadoInicioSesionDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvatarId" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
</xs:schema>