PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioClasificacion/Clasificacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClasificacionUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClasificacionUsuarioDTO" nillable="true" type="tns:ClasificacionUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClasificacionUsuarioDTO" nillable="true" type="tns:ArrayOfClasificacionUsuarioDTO" />
  <xs:complexType name="ClasificacionUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
      <xs:element minOccurs="0" name="RondasGanadas" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClasificacionUsuarioDTO" nillable="true" type="tns:ClasificacionUsuarioDTO" />
</xs:schema>