PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioCambioContrasena/CambiarContrasena1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SolicitudRecuperarCuentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudRecuperarCuentaDTO" nillable="true" type="tns:SolicitudRecuperarCuentaDTO" />
  <xs:complexType name="ResultadoSolicitudRecuperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaEncontrada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenRecuperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitudRecuperacionDTO" nillable="true" type="tns:ResultadoSolicitudRecuperacionDTO" />
  <xs:complexType name="SolicitudReenviarCodigoRecuperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TokenRecuperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudReenviarCodigoRecuperacionDTO" nillable="true" type="tns:SolicitudReenviarCodigoRecuperacionDTO" />
  <xs:complexType name="ResultadoSolicitudCodigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoYaRegistrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenRecuperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenVerificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioYaRegistrado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitudCodigoDTO" nillable="true" type="tns:ResultadoSolicitudCodigoDTO" />
  <xs:complexType name="ConfirmarCodigoRecuperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIngresado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenRecuperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmarCodigoRecuperacionDTO" nillable="true" type="tns:ConfirmarCodigoRecuperacionDTO" />
  <xs:complexType name="ResultadoOperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionDTO" nillable="true" type="tns:ResultadoOperacionDTO" />
  <xs:complexType name="ActualizarContrasenaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="NuevaContrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenRecuperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizarContrasenaDTO" nillable="true" type="tns:ActualizarContrasenaDTO" />
</xs:schema>