PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioCambioContrasena/CambiarContrasena.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Pictionary/CambiarContrasena?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" />
  <xs:element name="SolicitarCodigoRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q1:SolicitudRecuperarCuentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCodigoRecuperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="SolicitarCodigoRecuperacionResult" nillable="true" type="q2:ResultadoSolicitudRecuperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarCodigoRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q3:ReenviarCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarCodigoRecuperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ReenviarCodigoRecuperacionResult" nillable="true" type="q4:ResultadoSolicitudCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCodigoRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="confirmacion" nillable="true" type="q5:ConfirmarCodigoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarCodigoRecuperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ConfirmarCodigoRecuperacionResult" nillable="true" type="q6:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q7:ActualizarContrasenaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrasenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" minOccurs="0" name="ActualizarContrasenaResult" nillable="true" type="q8:ResultadoOperacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>