PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioReenvioCodigoVerificacion/ReenvioCodigoVerificacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReenviarCodigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TokenCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReenviarCodigoDTO" nillable="true" type="tns:ReenviarCodigoDTO" />
  <xs:complexType name="ResultadoSolicitudCodigoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoYaRegistrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioYaRegistrado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitudCodigoDTO" nillable="true" type="tns:ResultadoSolicitudCodigoDTO" />
</xs:schema>